Django==1.11.5
psycopg2==2.7.3.1
dj-database-url==0.4.2
django-db-constraints==0.3.0
djangorestframework==3.6.4
uWSGI==2.0.15
djangorestframework-camel-case==0.2.0
labeled-enum==1.0.4
django-cors-headers==2.1.0
Pillow==4.3.0
pyDes==2.0.1
celery[redis]==4.1.0
requests==2.18.4
raven==6.3.0
gunicorn==19.7.1
django-storages==1.6.5
boto3==1.5.9
django-notifications-hq==1.3
