{% extends 'flamingo/base.html' %}

{% block content %}
  {% if courses %}
    <h5>
      {{ courses.count }} <u>courses</u> found  matching your query:
    </h5>
    <div class="table-responsive">
      <table class="table table-hover table-striped" id="search-table">
        <thead>
          <tr>
            <th>Course</th>
            <th>Curriculum Count</th>
          </tr>
        </thead>
        <tbody>
          {% for course in courses %}
            <tr>
              <td>{{course}}</td>
              <td>{{course.courses.count}}</td>
              <td><a class="btn btn-outline-warning" href="{% url 'flamingo:courses-edit' course.id %}" role="button" aria-disabled="true">Edit</a> </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  {% else %}
    <p> No courses were found matching this search</p>
  {% endif %}

  <a class="btn btn-outline-primary" href="{% url 'flamingo:courses-search' %}" role="button" aria-disabled="true"> Back </a>
  <a class="btn btn-outline-success" href="{% url 'flamingo:courses-add' %}" role="button" aria-disabled="true"> Add Course </a>
{% endblock %}
